.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

logs/
weights/
dump/
demo/*.mp4
demo/demo_images/
src/loftr/utils/superglue.py
demo/utils.py

notebooks/QccDayNight.ipynb
notebooks/westlake.ipynb
assets/westlake
assets/qcc_pairs.txt
configs/.petrel*
tools/draw_QccDayNights.py

scripts/slurm/
scripts/sbatch_submit.sh
src/utils/client.py
